body {
  font-family: 'Slabo 27px', serif;
  margin: 0;
  background: url('../assets/images/background.jpg') top left no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Ravi Prakash', cursive;
  text-align: center;
}

h2 {
  font-family: 'Ravi Prakash', cursive;
  text-align: center;
}

h3 {
  font-family: 'Ravi Prakash', cursive;
  text-align: center;
  font-size: 30px;
}

#header {
  padding: 20px;
  margin-bottom: 20px;
}

#postJokeForm {
  font-family: 'Ravi Prakash', cursive;
  width: 180px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background: hsla(314, 88%, 51%, 0.5);
  border-radius: 8px;
}

#jokeContainer {
  background-color: hsla(180, 59%, 51%, 0.3);
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.joke {
  border-bottom: 1px dotted black;
}

.punch {
  color: hsla(180, 59%, 51%, 0);
}

.punch:hover {
  color: black;
}
